body {
  font-family: "Gotham A", "Gotham B" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background: linear-gradient(180deg, #ffffff 82.98%, #f4f2ec 100%);
  overflow-x: hidden;
}

.main-content {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

.header,
.relative {
  position: relative;
  width: 100%;
  .bg-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  .landing-page {
    background: linear-gradient(
      0deg,
      rgba(35, 59, 106, 0.85),
      rgba(35, 59, 106, 0.85)
    );
  }
  .other-bg-img {
    background: linear-gradient(
      0deg,
      rgba(35, 59, 106, 0.7),
      rgba(35, 59, 106, 0.7)
    );
  }
  .about-page {
    background: linear-gradient(
      95.75deg,
      rgba(138, 35, 135, 0.8) 12.25%,
      rgba(57, 26, 96, 0.8) 88.73%
    );
  }
  .content {
    text-align: center;
    position: relative;
    margin: auto;
    z-index: 200;
  }
}

.header-menu {
  position: fixed;
  height: 75px;
  left: 0;
  right: 0;
  top: 0;
  background: #102448;
  z-index: 1000;
  .header-menu-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 2560px;
  }
}

.clip {
  position: relative;
  border-bottom-right-radius: 50% 25%;
  border-bottom-left-radius: 50% 25%;
  width: 120%;
  overflow: hidden;
  overflow-x: hidden;
  left: -10%;
}
